/*************  ✨ Codeium Command 🌟  *************/
# coverage reports
coverage

# API keys and secrets
.env

# dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# ignore built ts files
dist/**/*

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

## local history for vscode
.history/

## built vscode extensions
*.vsix

## ignore pnpm files
pnpm-debug.log
pnpm-lock.yaml

# Ignorar directorios específicos de MySQL y MongoDB
BDD/
MySql/

# O ignorar archivos individuales
BDD/WiredTiger*
MySql/*.sock
MySql/ib*
MySql/auto.cnf
MySql/binlog.index
